.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 10px 0px;
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
}

.item > button {
    padding: 0px 10px;
    border: none;
    color: rgb(187, 187, 187);
    font: var(--header);
    background-color: rgba(0, 0, 0, 0);
}

.item > button:hover {
    filter: brightness(1.7);
    scale: 1.05;
    cursor: pointer;
}

.item > button:active {
    filter: opacity(0.6);
}

.item > p {
    font: var(--body);
    padding: 0px 15px;
}