.movieViewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movieViewContainer > ul {
    margin-bottom: 25px;
}

.movieViewContainer ul, .movieViewContainer li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movieViewContainer  > .buttonGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.movieViewContainer  > .buttonGroup button {
    width: min-content;
    color: var(--quaternary-color);
    text-decoration: none;
    border-style: none;
    border-radius: 4px;
    background-color: #00000093;
    margin: 15px 15px;
    padding: 10px 40px;
    border-radius: 70px;
}

.movieViewContainer  > .buttonGroup button:hover {
    filter: brightness(1.5);
}

.movieViewContainer li {
    margin: 10px 0px;
}

.movieViewContainer li > h3{
    font-size: 1.5rem;
}

.movieViewContainer li p {
    padding: 0px 35px;
    font-size: 1.2rem;
    color: white;
}

#wiki {
    margin: 15px 0px;
    font-size: 1.7rem;
    color: rgb(70, 119, 255);
    text-decoration: none;
}

#wiki:hover {
    filter: opacity(0.6);
}