.movieViewContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.movieViewContainer > ul {
    margin: 0px 0px 25px 60px;
}

.movieViewContainer ul, .movieViewContainer li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.movieViewContainer  > .buttonGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 30px;
}

.movieViewContainer  > .buttonGroup button {
    width: min-content;
    color: var(--quaternary-color);
    text-decoration: none;
    border-style: none;
    border-radius: 4px;
    background-color: #00000093;
    margin: 15px 15px;
    padding: 10px 40px;
    border-radius: 70px;
    font: var(--accent);
}

.movieViewContainer  > .buttonGroup button:hover {
    filter: brightness(1.5);
    scale: 1.02;
}

.movieViewContainer  > .buttonGroup button:active {
    filter: opacity(0.6);
}

.movieViewContainer li {
    margin: 10px 0px;
}

.movieViewContainer li > h3{
    font: var(--header);
}

.movieViewContainer li p {
    padding: 5px 0px;
    font: var(--body);
    color: white;
}

#wiki {
    margin: 15px 0px 15px 60px;
    font: var(--header);
    color: rgb(70, 119, 255);
    text-decoration: none;
}

#wiki:hover {
    filter: opacity(0.6);
}