.userViewContainer ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px;
}

.userViewContainer li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.userViewContainer h3 {
    font-size: 1.5rem;
    text-decoration: underline;
}

.userViewContainer .movieItem {
    margin: 2px 0px;
    color: aliceblue;
}