.userViewContainer > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0px 20px 60px;
}

.userViewContainer ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.userViewContainer > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0px;
    font: var(--body);
}

.userViewContainer h3 {
    font: var(--header);
}

.userViewContainer .movieItem, .userViewContainer li > p {
    margin: 2px 0px;
    color: aliceblue;
}