/* ___________________ FONTS ____________________________ */

@font-face {
    font-family: header;
    src: url('./fonts/NotoSansDisplay-Bold.ttf');
}
  
@font-face {
    font-family: body;
    src: url('./fonts/NotoSansDisplay-Regular.ttf');
}
    
@font-face {
    font-family: accent;
    src: url('./fonts/NotoSansDisplay-Light.ttf');
}

/* ------------------- VARIABLES ------------------- */

:root {
    /* FONT */
    --header: 1.2rem header;
    --body: 1rem body;
    --accent: 0.8rem accent;

    /* COLORS */
    --primary-color: #5680E9;
    --secondary-color: #84CEEB;
    --tertiary-color: #5AB9EA;
    --quaternary-color: #e6e6e6;
    --quinary-color: #8860D0;
}

/* ------------------- FONT MEDIA QUERIES ------------------- */

@media screen and (min-width: 769px) {
    :root {
        --accent: 0.9rem accent;
    }
}

@media screen and (min-width: 1366px) {
    :root {
        --header: 1.3rem header;
        --body: 1.1rem body;
    }
}

@media screen and (min-width: 2161px) {
    :root {
        --body: 1.23rem body;
    }
}

/* ------------------- GLOBAL ------------------- */

html,
body,
div#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    background-image: linear-gradient(190deg, #1b1b1b 0%, #131313 74%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

h1,
h2,
h3 {
    color: var(--quaternary-color);
}

h1 {
    font: var(--header);
}

h2 { 
    font: var(--header);
}

.content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

/* ------------------- GLOBAL MEDIA QUERIES ------------------- */

@media screen and (min-width: 769px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}
